<% provide(:title, 'All Users') %>
<% if params[:search].blank?  %>
  <h1>全てのユーザー</h1>
  <% else %>
  <h1>検索結果</h1>
<% end %>
<!--  検索拡張機能  -->
<div class="col-md-10 col-md-offset-1">
  <div class="form-right">
    <p>ユーザー名検索</p>
    <%= form_tag(users_path, :method => 'get' ) do %>
      <%= text_field_tag :search %><%= submit_tag '検索',class: "btn btn-primary", :name => nil %>
    <% end %>
  </div>

  <%= form_with(model: @user, url: import_users_path, method: :post, local: true, multipart: true) do |f| %>
    <div class="input-group col-md-5">
      <label class="input-group-btn">
        <span class="btn btn-default">
          ファイルを選択<%= f.file_field :file, class: "custom-field" %>
        </span>
      </label>
      <%= f.text_field :text, class: "form-control", readonly: "" %>
    </div>
    <div class="col-md-5 submit-table">
      <%= f.submit "CSVをインポート", class: "btn btn-primary submit-btn" %>
    </div>
  <% end %>

  <%= will_paginate %>
  <table class="table">
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
          <% if current_user.admin? && !current_user?(user) %>
          <div>
          ｜<%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class:"btn btn-danger"%>
          </div>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample<%= user.id %>" aria-expanded="false" aria-controls="collapseExample">
              編集
            </button>
            <div class="collapse" id="collapseExample<%= user.id %>">
              <div class="card card-body">
                <%= form_with(model: user, local: true) do |f| %>
                  <%= f.label :名前 %>
                  <%= f.text_field :name, class: 'form-control'%>

                  <%= f.label :メールアドレス %>
                  <%= f.email_field :email, class: 'form-control'%>

                  <%= f.label :所属 %>
                  <%= f.text_field :affiliation, class: 'form-control' %>

                  <%= f.label :社員番号 %>
                  <%= f.number_field :employee_number, class: 'form-control' %>

                  <%= f.label :カード番号 %>
                  <%= f.text_field :uid, class: 'form-control' %>

                  <%= f.label :基本時間 %>
                  <%= f.time_field :basic_time, class: 'form-control' %>

                  <%= f.label :指定勤務開始時間　%>
                  <%= f.time_field :designated_work_start_time, class: 'form-control' %>

                  <%= f.label :指定勤務終了時間　%>
                  <%= f.time_field :designated_work_end_time, class: 'form-control' %>

                  <%= f.label :パスワード %>
                  <%= f.password_field :password, class: 'form-control' %>

                  <%= f.submit "更新", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<script>
   $(document).on('change', ':file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.parent().parent().next(':text').val(label);
  });
</script>
