<% provide(:class_text, 'update_overtime') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= form_with(model: @attendance, url: attendances_update_overtime_user_path(@attendance), local: true, method: :patch) do |f| %>
            <table class = "table-bordered table-striped table-condensed">
            <thead>
             <tr>
                <td>日付</td>
                <td>曜日</td>
                <td>残業終了予定時間</td>
                <td>翌日</td>
                <td>業務処理内容</td>
                <td>指示者確認㊞</td>
            </tr>
            </thead>
           <tbody>
              <td><%= l(@attendance.worked_on, format: :short) %></td>
               <td>
                <% if @attendance.worked_on.wday == 6 %>
                 <font color="Blue">土</font>
                <% elsif @attendance.worked_on.wday == 0 %>
                 <font color="RED">日</font>
                <% else %>
                 <%= $days_of_the_week[@attendance.worked_on.wday] %>
                <% end %>
              </td>
              <td><%= f.time_field :end_estimated_time, class: "form-control" %></td>
              <td><%= f.check_box :next_day_flag, class: "form-control" %></td>
              <td><%= f.text_field :business_outline, class: "form-control" %></td>
              <td><%= f.select :application_status, ['なし', '申請中', '承認','否認'], {include_blank: ''} ,class: "form-control" %></td>
           </tbody>
          </table>
          <div><%= f.submit "変更を送信する", class: "btn btn-primary" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
